.text-uppercase {
    text-transform: uppercase;
}

.text-line {
    text-decoration: underline;
    text-underline-offset: 17%;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-line-none {
    text-decoration: none;
}
